.scrollable {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.absolute {
  position: absolute;
}
.serif {
  font-family: "Merriweather";
  font-size: 0.8em;
  line-height: 1.45;
}
@font-face {
  font-family: 'Diktator';
  src: url('weissenseediktatorsemibold-webfont.woff2') format('woff2'), url('weissenseediktatorsemibold-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Diktator';
  src: url('weissenseediktatorlight-webfont.woff2') format('woff2'), url('weissenseediktatorlight-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('merriweather-bold-webfont.woff2') format('woff2'), url('merriweather-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('merriweather-regular-webfont.woff2') format('woff2'), url('merriweather-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  -webkit-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'Diktator';
  font-size: 17px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  height: 100vh;
}
a {
  color: inherit;
  border: 0;
  text-decoration: none;
}
html {
  overflow: hidden;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0;
  line-height: 1.25;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 0.8em;
}
.whiteOnmain-color {
  background: #212c33;
  color: #ffffff;
}
.fullscreenPage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.page0 .fullscreenPage {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
}
.page1 .fullscreenPage {
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
}
.cover {
  background: #212c33;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.cover h1,
.cover h4 {
  position: absolute;
  width: 340px;
  left: 36px;
}
.cover h1 {
  top: 648px;
}
.cover h4 {
  top: 682px;
}
.menu {
  top: 0;
  color: white;
  background: #212c33;
  z-index: 10;
  position: absolute;
  height: 100vh;
  overflow: hidden;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
  box-shadow: 2px 0px 4px 0px rgba(50, 50, 50, 0.25);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-perspective: 900000px;
          perspective: 900000px;
}
.menu.collapsed {
  width: 408px;
  -webkit-transform: translate3d(-340px, 0, 0);
          transform: translate3d(-340px, 0, 0);
}
.menu.collapsed ul li a,
.menu.collapsed .appTitle {
  display: none;
}
.menu.collapsed ul .active {
  display: none;
}
.menu.expanded {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: 408px;
}
.menu.expanded .currentTitle,
.menu.expanded .menuIcon {
  display: none;
}
.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu ul {
  margin: 36px;
  margin-top: 138px;
  padding: 0;
  width: 16em;
  line-height: 1.4;
  font-weight: 300;
  font-size: 30;
}
.menu .active {
  font-weight: 400;
}
.menu .appTitle {
  position: absolute;
  left: 36px;
  top: 36px;
  width: 10em;
}
.menu .closeIcon {
  width: 26px;
  height: 26px;
  background: url('icon-close.svg') no-repeat;
  position: relative;
  top: 14px;
  left: 20px;
}
.menu .menuIcon {
  margin: 17px;
  position: absolute;
  left: 340px;
}
.menu .menuIcon .icon {
  font-size: 3em;
  line-height: 0.8;
}
.menu .menuIcon .icon,
.menu .menuIcon .icon:before,
.menu .menuIcon .icon:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  top: 10px;
}
.menu .menuIcon .icon:before {
  top: -10px;
}
.menu .menuIcon .icon:after {
  bottom: -10px;
}
.menu .menuIcon .icon,
.menu .menuIcon .text {
  position: relative;
}
.menu .menuIcon .text {
  top: 25px;
  font-size: 1em;
}
.text {
  position: absolute;
  left: 376px;
  width: 544px;
  top: 36px;
  margin: 0em;
}
.text h2 {
  font-size: 1.2em;
}
.text .paragraphs {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 510px;
  padding-right: 68px;
  line-height: 1.35;
  font-weight: 300;
  font-size: 1.05em;
}
.text p:first-of-type {
  margin-top: 2.2em;
}
.text h1,
.text h2,
.text h3 {
  margin: 1em 0 0.2em 0;
}
.text h1 + h2 {
  margin: 0;
}
.text p {
  margin: 0;
}
.text p + p {
  margin-top: 0.5em;
}
.noButtons .text .paragraphs {
  height: 618.8px;
}
.chapterView .links {
  display: inline-block;
  padding-top: 0.2em;
  font-size: 1.2em;
}
.chapterView .links .button {
  width: 120px;
}
.chapterView .links .button:nth-child(1) {
  position: absolute;
  left: 104px;
  top: 39.4px;
  width: 170px;
}
.chapterView .links .button:nth-child(2) {
  position: absolute;
  left: 376px;
  top: 682px;
  width: 170px;
}
.cardView {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin-left: 68px;
  top: 0;
  height: 100vh;
  background: #ffffff;
}
.cardView .cardItem {
  position: absolute;
  width: 956px;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.4);
  height: 8vh;
}
.cardView .cardItem.focus {
  height: 60vh;
}
.cardView .cardItem img {
  width: 650px;
}
.cardView .cardItem .cardText {
  margin-top: 1em;
  -webkit-flex: 1;
          flex: 1;
  font-weight: 300;
}
.cardView .cardItem .button + .button {
  margin-left: 0.8em;
}
.cardView .cardItem .button {
  font-size: 1.1em;
  padding: 0.25em 0.4em;
}
.cardView .cardItem .buttons {
  -webkit-flex: 0.2;
          flex: 0.2;
}
.cardView .cardItem .block {
  top: 0;
  padding: 17px;
  right: 0;
  height: 60vh;
  width: 306px;
  position: absolute;
  background: #ffffff;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.cardView .cardItem .author {
  display: inline;
}
.cardView .cardViewWrapper {
  position: relative;
  overflow: hidden;
}
.cardView.transitioning-in .cardViewWrapper {
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition-delay: 0;
}
.cardView.transitioning-out .cardViewWrapper {
  transition: -webkit-transform 0.4s, height 0s;
  transition: transform 0.4s, height 0s;
  transition-delay: 0, 0.3s;
}
/* Define two variables as the loop limits */
/* Create a Parametric mixin and add a guard operation */
/* the mixin is called, css outputted and iterations called */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(0) {
  -webkit-transform: translate3d(0, -22vh, 0);
          transform: translate3d(0, -22vh, 0);
}
.cardItem.beforeFocus:nth-child(0) {
  -webkit-transform: translate3d(0, -22vh, 0);
          transform: translate3d(0, -22vh, 0);
}
.cardItem.focus:nth-child(0) {
  -webkit-transform: translate3d(0, -22vh, 0);
          transform: translate3d(0, -22vh, 0);
}
.cardItem.afterFocus:nth-child(0) {
  -webkit-transform: translate3d(0, 16vh, 0);
          transform: translate3d(0, 16vh, 0);
}
.cardViewWrapper.childnum0 {
  height: 0vh;
}
.focus .cardViewWrapper.childnum0 {
  height: 38vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(1) {
  -webkit-transform: translate3d(0, 0vh, 0);
          transform: translate3d(0, 0vh, 0);
}
.cardItem.beforeFocus:nth-child(1) {
  -webkit-transform: translate3d(0, 0vh, 0);
          transform: translate3d(0, 0vh, 0);
}
.cardItem.focus:nth-child(1) {
  -webkit-transform: translate3d(0, 0vh, 0);
          transform: translate3d(0, 0vh, 0);
}
.cardItem.afterFocus:nth-child(1) {
  -webkit-transform: translate3d(0, 38vh, 0);
          transform: translate3d(0, 38vh, 0);
}
.cardViewWrapper.childnum1 {
  height: 22vh;
}
.focus .cardViewWrapper.childnum1 {
  height: 60vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(2) {
  -webkit-transform: translate3d(0, 22vh, 0);
          transform: translate3d(0, 22vh, 0);
}
.cardItem.beforeFocus:nth-child(2) {
  -webkit-transform: translate3d(0, 22vh, 0);
          transform: translate3d(0, 22vh, 0);
}
.cardItem.focus:nth-child(2) {
  -webkit-transform: translate3d(0, 22vh, 0);
          transform: translate3d(0, 22vh, 0);
}
.cardItem.afterFocus:nth-child(2) {
  -webkit-transform: translate3d(0, 60vh, 0);
          transform: translate3d(0, 60vh, 0);
}
.cardViewWrapper.childnum2 {
  height: 44vh;
}
.focus .cardViewWrapper.childnum2 {
  height: 82vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(3) {
  -webkit-transform: translate3d(0, 44vh, 0);
          transform: translate3d(0, 44vh, 0);
}
.cardItem.beforeFocus:nth-child(3) {
  -webkit-transform: translate3d(0, 44vh, 0);
          transform: translate3d(0, 44vh, 0);
}
.cardItem.focus:nth-child(3) {
  -webkit-transform: translate3d(0, 44vh, 0);
          transform: translate3d(0, 44vh, 0);
}
.cardItem.afterFocus:nth-child(3) {
  -webkit-transform: translate3d(0, 82vh, 0);
          transform: translate3d(0, 82vh, 0);
}
.cardViewWrapper.childnum3 {
  height: 66vh;
}
.focus .cardViewWrapper.childnum3 {
  height: 104vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(4) {
  -webkit-transform: translate3d(0, 66vh, 0);
          transform: translate3d(0, 66vh, 0);
}
.cardItem.beforeFocus:nth-child(4) {
  -webkit-transform: translate3d(0, 66vh, 0);
          transform: translate3d(0, 66vh, 0);
}
.cardItem.focus:nth-child(4) {
  -webkit-transform: translate3d(0, 66vh, 0);
          transform: translate3d(0, 66vh, 0);
}
.cardItem.afterFocus:nth-child(4) {
  -webkit-transform: translate3d(0, 104vh, 0);
          transform: translate3d(0, 104vh, 0);
}
.cardViewWrapper.childnum4 {
  height: 88vh;
}
.focus .cardViewWrapper.childnum4 {
  height: 126vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(5) {
  -webkit-transform: translate3d(0, 88vh, 0);
          transform: translate3d(0, 88vh, 0);
}
.cardItem.beforeFocus:nth-child(5) {
  -webkit-transform: translate3d(0, 88vh, 0);
          transform: translate3d(0, 88vh, 0);
}
.cardItem.focus:nth-child(5) {
  -webkit-transform: translate3d(0, 88vh, 0);
          transform: translate3d(0, 88vh, 0);
}
.cardItem.afterFocus:nth-child(5) {
  -webkit-transform: translate3d(0, 126vh, 0);
          transform: translate3d(0, 126vh, 0);
}
.cardViewWrapper.childnum5 {
  height: 110vh;
}
.focus .cardViewWrapper.childnum5 {
  height: 148vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(6) {
  -webkit-transform: translate3d(0, 110vh, 0);
          transform: translate3d(0, 110vh, 0);
}
.cardItem.beforeFocus:nth-child(6) {
  -webkit-transform: translate3d(0, 110vh, 0);
          transform: translate3d(0, 110vh, 0);
}
.cardItem.focus:nth-child(6) {
  -webkit-transform: translate3d(0, 110vh, 0);
          transform: translate3d(0, 110vh, 0);
}
.cardItem.afterFocus:nth-child(6) {
  -webkit-transform: translate3d(0, 148vh, 0);
          transform: translate3d(0, 148vh, 0);
}
.cardViewWrapper.childnum6 {
  height: 132vh;
}
.focus .cardViewWrapper.childnum6 {
  height: 170vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(7) {
  -webkit-transform: translate3d(0, 132vh, 0);
          transform: translate3d(0, 132vh, 0);
}
.cardItem.beforeFocus:nth-child(7) {
  -webkit-transform: translate3d(0, 132vh, 0);
          transform: translate3d(0, 132vh, 0);
}
.cardItem.focus:nth-child(7) {
  -webkit-transform: translate3d(0, 132vh, 0);
          transform: translate3d(0, 132vh, 0);
}
.cardItem.afterFocus:nth-child(7) {
  -webkit-transform: translate3d(0, 170vh, 0);
          transform: translate3d(0, 170vh, 0);
}
.cardViewWrapper.childnum7 {
  height: 154vh;
}
.focus .cardViewWrapper.childnum7 {
  height: 192vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(8) {
  -webkit-transform: translate3d(0, 154vh, 0);
          transform: translate3d(0, 154vh, 0);
}
.cardItem.beforeFocus:nth-child(8) {
  -webkit-transform: translate3d(0, 154vh, 0);
          transform: translate3d(0, 154vh, 0);
}
.cardItem.focus:nth-child(8) {
  -webkit-transform: translate3d(0, 154vh, 0);
          transform: translate3d(0, 154vh, 0);
}
.cardItem.afterFocus:nth-child(8) {
  -webkit-transform: translate3d(0, 192vh, 0);
          transform: translate3d(0, 192vh, 0);
}
.cardViewWrapper.childnum8 {
  height: 176vh;
}
.focus .cardViewWrapper.childnum8 {
  height: 214vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(9) {
  -webkit-transform: translate3d(0, 176vh, 0);
          transform: translate3d(0, 176vh, 0);
}
.cardItem.beforeFocus:nth-child(9) {
  -webkit-transform: translate3d(0, 176vh, 0);
          transform: translate3d(0, 176vh, 0);
}
.cardItem.focus:nth-child(9) {
  -webkit-transform: translate3d(0, 176vh, 0);
          transform: translate3d(0, 176vh, 0);
}
.cardItem.afterFocus:nth-child(9) {
  -webkit-transform: translate3d(0, 214vh, 0);
          transform: translate3d(0, 214vh, 0);
}
.cardViewWrapper.childnum9 {
  height: 198vh;
}
.focus .cardViewWrapper.childnum9 {
  height: 236vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(10) {
  -webkit-transform: translate3d(0, 198vh, 0);
          transform: translate3d(0, 198vh, 0);
}
.cardItem.beforeFocus:nth-child(10) {
  -webkit-transform: translate3d(0, 198vh, 0);
          transform: translate3d(0, 198vh, 0);
}
.cardItem.focus:nth-child(10) {
  -webkit-transform: translate3d(0, 198vh, 0);
          transform: translate3d(0, 198vh, 0);
}
.cardItem.afterFocus:nth-child(10) {
  -webkit-transform: translate3d(0, 236vh, 0);
          transform: translate3d(0, 236vh, 0);
}
.cardViewWrapper.childnum10 {
  height: 220vh;
}
.focus .cardViewWrapper.childnum10 {
  height: 258vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(11) {
  -webkit-transform: translate3d(0, 220vh, 0);
          transform: translate3d(0, 220vh, 0);
}
.cardItem.beforeFocus:nth-child(11) {
  -webkit-transform: translate3d(0, 220vh, 0);
          transform: translate3d(0, 220vh, 0);
}
.cardItem.focus:nth-child(11) {
  -webkit-transform: translate3d(0, 220vh, 0);
          transform: translate3d(0, 220vh, 0);
}
.cardItem.afterFocus:nth-child(11) {
  -webkit-transform: translate3d(0, 258vh, 0);
          transform: translate3d(0, 258vh, 0);
}
.cardViewWrapper.childnum11 {
  height: 242vh;
}
.focus .cardViewWrapper.childnum11 {
  height: 280vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(12) {
  -webkit-transform: translate3d(0, 242vh, 0);
          transform: translate3d(0, 242vh, 0);
}
.cardItem.beforeFocus:nth-child(12) {
  -webkit-transform: translate3d(0, 242vh, 0);
          transform: translate3d(0, 242vh, 0);
}
.cardItem.focus:nth-child(12) {
  -webkit-transform: translate3d(0, 242vh, 0);
          transform: translate3d(0, 242vh, 0);
}
.cardItem.afterFocus:nth-child(12) {
  -webkit-transform: translate3d(0, 280vh, 0);
          transform: translate3d(0, 280vh, 0);
}
.cardViewWrapper.childnum12 {
  height: 264vh;
}
.focus .cardViewWrapper.childnum12 {
  height: 302vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(13) {
  -webkit-transform: translate3d(0, 264vh, 0);
          transform: translate3d(0, 264vh, 0);
}
.cardItem.beforeFocus:nth-child(13) {
  -webkit-transform: translate3d(0, 264vh, 0);
          transform: translate3d(0, 264vh, 0);
}
.cardItem.focus:nth-child(13) {
  -webkit-transform: translate3d(0, 264vh, 0);
          transform: translate3d(0, 264vh, 0);
}
.cardItem.afterFocus:nth-child(13) {
  -webkit-transform: translate3d(0, 302vh, 0);
          transform: translate3d(0, 302vh, 0);
}
.cardViewWrapper.childnum13 {
  height: 286vh;
}
.focus .cardViewWrapper.childnum13 {
  height: 324vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(14) {
  -webkit-transform: translate3d(0, 286vh, 0);
          transform: translate3d(0, 286vh, 0);
}
.cardItem.beforeFocus:nth-child(14) {
  -webkit-transform: translate3d(0, 286vh, 0);
          transform: translate3d(0, 286vh, 0);
}
.cardItem.focus:nth-child(14) {
  -webkit-transform: translate3d(0, 286vh, 0);
          transform: translate3d(0, 286vh, 0);
}
.cardItem.afterFocus:nth-child(14) {
  -webkit-transform: translate3d(0, 324vh, 0);
          transform: translate3d(0, 324vh, 0);
}
.cardViewWrapper.childnum14 {
  height: 308vh;
}
.focus .cardViewWrapper.childnum14 {
  height: 346vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(15) {
  -webkit-transform: translate3d(0, 308vh, 0);
          transform: translate3d(0, 308vh, 0);
}
.cardItem.beforeFocus:nth-child(15) {
  -webkit-transform: translate3d(0, 308vh, 0);
          transform: translate3d(0, 308vh, 0);
}
.cardItem.focus:nth-child(15) {
  -webkit-transform: translate3d(0, 308vh, 0);
          transform: translate3d(0, 308vh, 0);
}
.cardItem.afterFocus:nth-child(15) {
  -webkit-transform: translate3d(0, 346vh, 0);
          transform: translate3d(0, 346vh, 0);
}
.cardViewWrapper.childnum15 {
  height: 330vh;
}
.focus .cardViewWrapper.childnum15 {
  height: 368vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(16) {
  -webkit-transform: translate3d(0, 330vh, 0);
          transform: translate3d(0, 330vh, 0);
}
.cardItem.beforeFocus:nth-child(16) {
  -webkit-transform: translate3d(0, 330vh, 0);
          transform: translate3d(0, 330vh, 0);
}
.cardItem.focus:nth-child(16) {
  -webkit-transform: translate3d(0, 330vh, 0);
          transform: translate3d(0, 330vh, 0);
}
.cardItem.afterFocus:nth-child(16) {
  -webkit-transform: translate3d(0, 368vh, 0);
          transform: translate3d(0, 368vh, 0);
}
.cardViewWrapper.childnum16 {
  height: 352vh;
}
.focus .cardViewWrapper.childnum16 {
  height: 390vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(17) {
  -webkit-transform: translate3d(0, 352vh, 0);
          transform: translate3d(0, 352vh, 0);
}
.cardItem.beforeFocus:nth-child(17) {
  -webkit-transform: translate3d(0, 352vh, 0);
          transform: translate3d(0, 352vh, 0);
}
.cardItem.focus:nth-child(17) {
  -webkit-transform: translate3d(0, 352vh, 0);
          transform: translate3d(0, 352vh, 0);
}
.cardItem.afterFocus:nth-child(17) {
  -webkit-transform: translate3d(0, 390vh, 0);
          transform: translate3d(0, 390vh, 0);
}
.cardViewWrapper.childnum17 {
  height: 374vh;
}
.focus .cardViewWrapper.childnum17 {
  height: 412vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(18) {
  -webkit-transform: translate3d(0, 374vh, 0);
          transform: translate3d(0, 374vh, 0);
}
.cardItem.beforeFocus:nth-child(18) {
  -webkit-transform: translate3d(0, 374vh, 0);
          transform: translate3d(0, 374vh, 0);
}
.cardItem.focus:nth-child(18) {
  -webkit-transform: translate3d(0, 374vh, 0);
          transform: translate3d(0, 374vh, 0);
}
.cardItem.afterFocus:nth-child(18) {
  -webkit-transform: translate3d(0, 412vh, 0);
          transform: translate3d(0, 412vh, 0);
}
.cardViewWrapper.childnum18 {
  height: 396vh;
}
.focus .cardViewWrapper.childnum18 {
  height: 434vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(19) {
  -webkit-transform: translate3d(0, 396vh, 0);
          transform: translate3d(0, 396vh, 0);
}
.cardItem.beforeFocus:nth-child(19) {
  -webkit-transform: translate3d(0, 396vh, 0);
          transform: translate3d(0, 396vh, 0);
}
.cardItem.focus:nth-child(19) {
  -webkit-transform: translate3d(0, 396vh, 0);
          transform: translate3d(0, 396vh, 0);
}
.cardItem.afterFocus:nth-child(19) {
  -webkit-transform: translate3d(0, 434vh, 0);
          transform: translate3d(0, 434vh, 0);
}
.cardViewWrapper.childnum19 {
  height: 418vh;
}
.focus .cardViewWrapper.childnum19 {
  height: 456vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(20) {
  -webkit-transform: translate3d(0, 418vh, 0);
          transform: translate3d(0, 418vh, 0);
}
.cardItem.beforeFocus:nth-child(20) {
  -webkit-transform: translate3d(0, 418vh, 0);
          transform: translate3d(0, 418vh, 0);
}
.cardItem.focus:nth-child(20) {
  -webkit-transform: translate3d(0, 418vh, 0);
          transform: translate3d(0, 418vh, 0);
}
.cardItem.afterFocus:nth-child(20) {
  -webkit-transform: translate3d(0, 456vh, 0);
          transform: translate3d(0, 456vh, 0);
}
.cardViewWrapper.childnum20 {
  height: 440vh;
}
.focus .cardViewWrapper.childnum20 {
  height: 478vh;
}
/* Interation call and operation */
.title-block {
  padding: 3em 2.7em;
  height: 300px;
  background: #feecd4;
}
.title-block h1,
.title-block h2 {
  display: inline-block;
  vertical-align: text-top;
}
.title-block h1 {
  width: 560px;
  font-size: 55px;
  margin-top: -9px;
}
.title-block h2 {
  font-weight: 200;
  font-size: 30px;
}
.noTranslate {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: -webkit-transform 2s ;
  transition: transform 2s ;
}
.horizontal-leave {
  z-index: 10;
  display: block;
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: -webkit-transform 0.5s ;
  transition: transform 0.5s ;
}
.horizontal-leave-active {
  -webkit-transform: translate3d(0, -100vh, 0);
          transform: translate3d(0, -100vh, 0);
}
.preface {
  position: absolute;
  top: 138px;
  left: 478px;
  width: 408px;
}
.button {
  display: inline-block;
  padding: 0.2em 0.35em;
  color: #212c33;
  border: 1px solid #212c33;
  border-radius: 3px;
  text-align: center;
}
